div{
  width: 100%;
}

article{
  width: 100%;
}

.about, .about2{
  text-align: center;
  width: 100%;
  min-width: 300px;
}

.about h3{
  font-size: 0.8rem;
  margin: 0;
}

.about p{
  font-size: 0.5rem;
  margin: 0 0 50px 0;
}

.about h4{
  font-size: 0.7rem;
  margin: 0;
}

#aboutVisual{
  width: 100%;
  padding: 0;
  margin: 0;
}

#aboutSp{
  width: 8rem;
  height: auto;
  border-radius: 50%;
  
}

#aboutPc{
  display: none;
}

#pr{
  width: 100%;
  font-size: 0.6rem;
  text-align: center;

}