/* -----タブレット向け---画面幅が760px~960pxまでに適用される----- */
@media screen and (min-width: 760px){ 
  /* スマホ用トップ画像を非表示にする */
  #sp{
    display: none;
  }

  #mainVisual{
    text-align: center;
  }

  #pc{
    /* pc用トップ画像を出現させる */
    display: block;
    height: auto;
    max-width: 960px;
    padding-top: 10%;
  }

  #hum-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav-pc{
    font-size: 0.6rem;
    display:block;
    margin-top: 20px;
  }

  .nav-pc li{
    width: 3rem;
  }

  #works{
    max-width: 920px;
  }

  #blog{
    max-width: 920px;
  }

  #works li img, .blogPhoto img{
    width: 200px;
    height: auto;
  }

  #works ul ,#blog ul{
    width: 100%;
    min-width: 760px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* 上下の間隔を指定する */
    row-gap:20px;
    column-gap: 0;
  }

  #blog li{
    width: 200px;
    position: relative;
    text-align: center;
  }
}

/* -----pc向け---画面幅が961px~適用される----- */
@media screen and (min-width: 961px){ 
  /* スマホ用トップ画像を非表示にする */
  #sp{
    display: none;
  }

  #pc{
    /* pc用トップ画像を出現させる */
    display: block;
    width: 100%;
    height: auto;
    min-width: 961px;
    padding-top: 10%;
    margin: 0 auto;
  }

  .logo{
    font-size: 1rem;
    width: 5.9rem;
    height: 1.8rem;
    border: solid 3px #4d320f;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    top: 90px;
    left: 40px;
  }

  #hum-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav-pc{
    font-size: 0.6rem;
    display:block;
    margin-top: 50px;
  }

  .nav-pc li{
    width: 3rem;
  }

  #works, #blog{
    width: 100%;
    max-width: 100%;
  }

  #works ul ,#blog ul{
    width: 100%;
    min-width: 961px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* 上下の間隔を指定する */
    row-gap:100px;
  }

  #works li, #blog li{
    width: 300px;
    position: relative;
    text-align: center;
  }
  

  .blogTxt{
    position: absolute;
    bottom: -40px;
  }
  .more{
    position: absolute;
    bottom: -60px;
    right: 0;
  }
} 
