/* -----top-----*/

/* 全ての要素を画面幅いっぱいにする。デバイスごとに左右に揺れなくなる*/
html,
body, 
header,
#main,
#mainVisual,
#aboutTop,
#contact,
#contact form,
#contact form div{
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
}

html{
  font-size: 30px;
}

body{
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kiwi Maru', serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #faebd7;
  color: #4d320f;
  /* width=幅がpaddingとborderを含めたものになる */
  box-sizing: border-box;
  /* 画面幅から見切れたものを隠す（x軸） */
  overflow-x: hidden;
}

.logo{
  font-size: 0.9rem;
  width: 5rem;
  height: 1.5rem;
  border: solid 3px #4d320f;
  background-color:#ffffff;
  text-align: center;
  position: fixed;
  top: 70px;
  left: 20px;
}

/* トップロゴとハンバーガーメニューは一番表にくるようにする */
.logo,#hum-icon,#hum-nav{
  z-index: 100;
}

li, a{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#hum-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.nav-pc{
  display: none;
}

/* ハンバーガーメニューのナビゲーション、レイアウトと非表示設定 */
#hum-nav{
  background-color: #faebd7;
  padding-top: 30px;
  position: fixed;
  right: 0;
  top: 70px;
  height:15rem;
  width: 10rem;
  max-width: 200px;
  /* 基本はナビゲーションは閉じておくようにする */
  display: none;
}

.menu {
  /* ナビゲーションリンクをブロックレベル要素にする */
  display: block;
  background-color: #f5deb3;
  padding: 10px 20px;
  margin: 10px;
  height: 44px;
  font-size: 0.6rem;
}

/* ×ボタン */
#close{
  /* 親である#hum-navを基準にした絶対位置 
   今回の場合#hum-navはposition-fixedになっているのでそれを基準とする */
  position: absolute;
  top: 10px;
  right: 30px;
  width: 0.8rem;
  height: 1rem;
  cursor: pointer;
}

/* トップに戻る */
#toTop{
  width: 3.5rem;
  height: 1rem;
  display: block;
  position: absolute;
  bottom: 40px;
  right: 50px;
  margin-right: auto;
  margin-left: auto; 
}

/* 未訪問のリンクにスタイルを適用する。擬似クラス */
#hum-nav a:link{
  color: #4d320f;
}

/* リンク訪問済みの場合にスタイルを適用する。 */
#hum-nav a:visited{
  color: #4d320f;
}

/* カーソルが乗っている時にスタイルを適用する */
#hum-nav a:hover{
  color: #ffffff;
}

#main{
  width: 100%;
  box-sizing: border-box;
  /* 画面幅から見切れたものを隠す（x軸） */
  overflow-x: hidden;
}

#sp{
  width: 100%;
  max-width: 780px;
  height: auto;
}

#pc{
  display: block;
  display: none;
}

#sp{
  display: block;
  margin: 150px auto 0 auto;
}

a{
  color: #4d320f;
  /* リンクの下線を消す */
  text-decoration: none;
}

a:hover{
  /* カーソルが乗っている時に透明に近くなる */
  opacity: 0.3;
}

.nav-pc ul{
  /* ナビゲーションを横並びにする */
  display: flex;
}

li{
  /* 頭の•を消す */
  list-style-type: none;
}

header li, footer li{
  width: 60px;
  box-shadow: 4px 5px #f5deb3;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px;
  text-align: center;
}

a:hover{
  cursor: pointer;
}

.nav-pc li:active{
  background-color: #f5deb3;
  box-shadow: 4px 5px #faebd7;
  transform: translateY(3px);
}

.ttl{
  font-size: 1.2rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -----works-blog---- */
#works ,#blog{
  margin-bottom:70px;
}

#works ul, #blog ul{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#works li, #blog li{
  width: 100%;
  margin: 0 20px;
  text-align: center;
}

#works li:last-child {
	margin-bottom: 0;
}

#works li img, .blogPhoto img{
  width: 280px;
  height: 260px;
}

/* -----blogonly----- */
.blogTxt{
  /* ブログの文章の文字設定 */
  font-size: 0.45rem;
  margin-bottom: 20px;
  position: relative;
}

.more {
  background-color: #f5deb3;
  font-size: 0.6rem;
  width: 2rem;
  height: 1rem;
  /* moreを中心に寄せるためにブロックレベル要素にする */
  display: block;
  margin: 0 auto;
  text-align: center;
}