/* pc用。画面幅が768px以上の時にスタイルが適用される */
@media screen and (min-width: 768px){
  /* 横幅設定 */
  body{
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

.logo{
  font-size: 20px;
  width: 150px;
  border: solid 3px #4d320f;
  text-align: center;
  position: fixed;
  top: 70px;
  left: 40px;
}

  #hum{
    width: 50px;
    height: 50px;
    float: right;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 20px;
    cursor: pointer;
    z-index: 100;
  }
  #hero-sp{
    display: none;
  }
} 

/* sp用。画面幅が767px以下の時にスタイルが適用する */
@media screen and (max-width: 767px){
  body{
    min-width: 375px;
    margin: 0px;
  }

  .logo{
    font-size: medium;
    width: 100px;
    border: solid 3px #4d320f;
    text-align: center;
    position: fixed;
    top: 70px;
    left: 40px;
  }

  /* sp幅になるとpc用ナビゲーションが隠れる */
  #nav-pc{
    display: none;
  }
  #hum {
    float: right;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
  }
  /* パソコン用のトップ画像を非表示にする */
  #hero-pc{
    display: none;
  }

  /* ブログ記事を縦に並べる */
  #blogtxt{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

/* pc、sp共通 */
body{
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  color: #4d320f;
  text-decoration: none;
}

.logo{
  z-index: 100;
}

/* ハンバーガーメニューのナビゲーション、レイアウトと非表示設定 */
#hum-nav{
  background-color: antiquewhite;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  height:50%;
  width: 200px;
  /* 基本はナビゲーションは閉じておくようにする */
  display: none;
  z-index: 100;
}

/* ×ボタン */
#close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* トップに戻る */
#logo-sp{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* ナビゲーションリンクの装飾設定 */
#hum-nav a{
  display: block;
}

#hum-nav > a:link{
  color: #4d320f;
}

#hum-nav > a:visited{
  color: #4d320f;
}

#hum-nav > a:hover{
  color: #ffffff;
}

#hum-nav > .menu {
  display: block;
  background-color: #f5deb3;
  margin: 20px 20px 0 20px;
  padding: 10px 0 0 20px;
  height: 44px;
  font-size: 16px;
}

#hero-pc{
  margin-top: 80px;
}
#hero-sp{
  margin-top: 150px;
}

a{
  color: #4d320f;
  text-decoration: none;
}

a:hover{
  opacity: 0.2;
}

ul{
  /* 要素を横並びにする */
  display: flex;
}

li{
  width: 60px;
  box-shadow: 4px 4px #f5deb3;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px;
  list-style-type: none;
  text-align: center;
}

li:hover{
  cursor: pointer;
}

li:active{
  background-color: #f5deb3;
  box-shadow: 4px 4px antiquewhite;
  transform: translateY(3px);
}

.ttl{
  width: 100px;
  margin: 0 auto 20px auto;
  text-align: center;
}

#blogtxt{
  /* ブログの記事それぞれを均等に横に並べる。なお、両端は固定 */
  display: flex;
  justify-content: space-between;
  /* ブログ記事の両端にスペースを作る */
  padding: 0 40px;
}

#blogtxt section{
  /* ブログ記事の横幅を指定 */
  width: 200px;
  /* moreの位置を指定するために親であるこの要素にrelativeを指定する */
  position: relative;
}


.blogpic{
  width: 200px;
  height: 200px;
  margin-top: 5em;
}

.more{
  width: 60px;
  background-color: #f5deb3;
  /* moreを中心に */
  text-align: center;
  /* 親要素基準に配置を指定する。右下に配置する */
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.margin{
  margin-top:  100px;
}


